body {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}
.flex-col {
  flex-direction: row;
}

.inline-block {
  display: inline-block;
}
.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
